/* Standardized button sizes */

/* Small Button */
.md-button--small {
    font-size: 0.8rem;   /* Smaller text */
    padding: 4px 10px !important;
    border-radius: 6px !important;
}

/* Medium Button (default) */
.md-button--medium {
    font-size: 1rem;     /* Default text size */
    padding: 8px 16px;   /* Default padding */
}

/* Large Button */
.md-button--large {
    font-size: 1.2rem;   /* Larger text */
    padding: 12px 20px;  /* Spacious padding */
    border-radius: 6px;  /* Slightly rounded corners */
}

@media print {
    @page {
        margin: 0.5in 0.1in 0.5in 0.1in; /* Adjust margins for header/footer space */
    }


    /* Hide the print button when printing */
    .print-button {
        display: none;
    }
  }


.print-button {
    float: right; /* Moves the button to the right */
    margin-left: 1em; /* Adds spacing from the content */
    padding: 0.5em 1em; /* Padding for better aesthetics */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
}

/* Increase base font size */
:root {
    --md-font-size: 18px;
    --md-typeset-font-size: 1.8rem;
    /* You can also adjust the code block font size if needed */
    --md-code-font-size: 1.8rem;

    --md-nav-font-size:  1.8rem;
}

/* Light mode */
[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #6366f1;  /* Indigo-500 */
    --md-primary-fg-color--light: #818cf8;  /* Indigo-400 */
    --md-primary-fg-color--dark:  #3730a3;  /* Indigo-800 */

    --md-accent-fg-color:         #ec4899;  /* Pink-500 */
    --md-accent-fg-color--light:  #f472b6;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #8b5cf6;  /* Violet-500 */
    --md-primary-fg-color--dark:  #3f6212;  /* Lime-800 */
    --md-accent-fg-color:         #f59e0b;  /* Amber-500 */
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 20px; /* Adjust this value as needed */
}