name: MacOS

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false
      
      - uses: mlugg/setup-zig@v2
        with:
          version:   0.15.2
          use-cache: false

      - run: zig build test -freference-trace --summary all -Doptimize=Debug

      - run: zig build test -freference-trace --summary all -Doptimize=ReleaseSafe

      - run: zig build test -freference-trace --summary all -Doptimize=ReleaseFast

      - run: zig build test -freference-trace --summary all -Doptimize=ReleaseSmall

