name: Windows

on:
  # push:
  # pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [windows]

    steps:
      - run: git config --global core.autocrlf false

      - uses: actions/checkout@v2
        with:
          submodules: false

      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
          use-cache: false

      - run: zig build test -freference-trace --summary all

      - run: zig build test -freference-trace --summary all -Doptimize=ReleaseFast
